img {
  width: 100%;
  margin-top: 25%;
}
body {
  background-color: black;
}
div {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  
}
h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
}
p {
  color: white;
}
